@font-face {
    font-family: 'exile';
    src : url('./YDSapphIIM.ttf');
}
@font-face {
    font-family: 'cookie';
    src : url('./CookieRunRegular.ttf');
}
@font-face {
    font-family: 'note';
    src : url('./NotoSansKR-Light.otf');
}